body{
    background: linear-gradient(orange,yellow);
}
.welcome{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.main{
    background: linear-gradient(rgb(255, 38, 0),yellow,rgb(100, 218, 5));
    height: 400px;
    width: 1000px ;
    margin: auto;
    margin-top: 10px;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    }
.row div{
    padding: 12px;
    border: 1px solid black;
    height: 103px;
    width: 114px;
    float: left;
    border-radius: 7px;
}

.row{
    clear: both;
    display: flex;
    justify-content: center;
}

.row div:hover{
    width: 120px ;
    height: 110px;
}

#b1{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b2{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b3{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b4{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b5{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b6{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b7{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b8{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#b9{
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#player{
    display: flex;
    justify-content: center;
    font-family:monospace;
    font-size: 35px;
    font-weight: bold;
    color: red;
}



